@cell_width: 70px;

table.editor {
  border-collapse: collapse;

  * {
    margin: 0px;
    padding: 0px;
  }

  td, th {
    border: 1px solid black;
  }

  // table head

  th.inserts{
    width: 1.5em;
  }

  th.date {
    min-width: @cell_width;
    width: @cell_width;
  }

  th.category {
    min-width: @cell_width * 2;
    width: @cell_width * 2;
  }

  // row

  tr.even {
  }
  tr.odd, tr.odd input {
    background: #f9f9ff;
  }

  // cell

  td.title, td.amount {
    min-width: @cell_width;
    width: @cell_width;

    input {
      width: 90%;
      border: none;
      font-size: 100%;
      padding-left: 3px;
    }
  }

  td.amount {
    input {
      text-align: right;
      padding-right: 3px;
    }
  }
}

.pushable {
  color: blue;
  // text-decoration: underline;
  cursor: pointer;
}
