<ul>
  <li><%= link_to 'Accounts', accounts_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to 'Logs: 2009-08', edit_logs_path(:year => 2009, :month => 8) %></li>
</ul>
